html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 40%;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 96px;
}

img.title {
    height:auto;
    width:40%;
    display:block;
    margin-left: auto;
    margin-right:auto;
    padding: 0.15em;
}

footer {
    position: fixed;

    left: 0;

    right: 0;

    bottom: 0;

}