html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 40%;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 96px;
}

img.title {
    height:auto;
    width:40%;
    display:block;
    margin-left: auto;
    margin-right:auto;
    padding: 0.15em;
}

/*http://answers.squarespace.com/questions/2750/drop-shadow-on-header-menu-what-css-is-required*/
header{
    background-color:aquamarine;
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
    box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);
}

footer {
    position: fixed;

    left: 0;

    right: 0;

    bottom: 0;

}

/*referred to: http://stackoverflow.com/questions/8357058/how-to-make-a-href-link-look-like-a-button*/
.button {
    display: block;
    width: 115px;
    height: auto;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 5px 5px 5px #888888;/*http://www.w3schools.com/cssref/css3_pr_box-shadow.asp*/
}

/*referred to: http://stackoverflow.com/questions/3898781/changing-a-button-color-on-hover*/
.button:hover{
    background-color: teal;
}

/*referred to: http://www.ahfb2000.com/threads/2867-I-don-t-want-my-links-to-change-colors*/
a:hover {
    text-decoration: none;
    color:white;
}

a:link{
    color:white;
}